* {
  font-family: 'Signika', sans-serif;
}

body {
  background-color: rgb(117, 117, 117);
}

header {
  height: 100px;
  margin-bottom: 50px;
}

h1 {
  color: white;
  font-size: 100pt;
  text-align: center;
}

.rowDiv {
  margin-top: 20px;
}

.gameTable {
  width: 480px;
  height: 100%;
  margin: auto;
}

.gameCell {
  height: 160px;
  width: 160px;
  margin: 10px;
}

.rowScore {
  text-align: center;
}

.rowScore p {
  font-size: 40pt;
  color: white;
}

#startButton {
  margin-left: 5%;
  border-radius: 3px;
}

h3 {
  color: white;
}

h3:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

h4 {
  margin-top: 25px;
  color: white;
}

.restart {
  text-align: center;
}

.gameRow1 {
  border-bottom: 3px solid white;
}

.gameRow2 {
  border-bottom: 3px solid white;
}

.playerScore {
  display: inline-block;
}

.ties {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}

.computerScore {
  display: inline-block;
}

.mid {
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.o {
  border-radius: 50%;
  border: 22px solid white;
  padding: 40px;
  height: 120px;
  width: 120px;
  margin: auto;
}

.x1 {
  width: 22px;
  height: 150px;
  background-color: white;
  transform: rotate(45deg);
  position: relative;
  left: 43%;
  top: 3%;
  border-radius: 4px;
  display: inline-block;
}

.x2 {
  width: 22px;
  height: 150px;
  transform: rotate(-45deg);
  background-color: white;
  position: relative;
  left: 30%;
  top: 3%;
  border-radius: 4px;
  display: inline-block;
}

.intro {
  margin: auto;
  width: 580px;
  padding-bottom: 800px;
}

.bigX1 {
  width: 70px;
  height: 400px;
  transform: rotate(45deg);
  background-color: white;
  position: relative;
  left: 15%;
  border-radius: 6px;
  display: inline-block;
}

.bigX2 {
  width: 70px;
  height: 400px;
  transform: rotate(-45deg);
  background-color: white;
  position: relative;
  left: 3%;
  border-radius: 6px;
  display: inline-block;
}

.bigO {
  border-radius: 50%;
  border: 70px solid white;
  padding: 40px;
  height: 350px;
  width: 350px;
  position: relative;
  left: 20%;
  display: inline-block;
  margin-bottom: 30px;
}

.intro :hover {
  background-color: black;
  cursor: pointer;
}

.displayMessage {
  margin-top: 0;
}

.sqComputer {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  border-radius: 3px;
  border: 2px solid white;
}

.sqComputerBase {
  width: 20px;
  height: 2px;
  background-color: white;
  margin-top: 2px;
}

.grayComputer {
  background-color: gray;
}

.blackComputer {
  background-color: black;
}

.greenComputer {
  background-color: green;
}

.orangeComputer {
  background-color: orange;
}

.redComputer {
  background-color: red;
}

.sqComputerLevel {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  border-radius: 3px;
  border: 2px solid white;
}

.sqComputerBaseLevel {
  width: 20px;
  height: 2px;
  background-color: white;
  margin-top: 2px;
}

.level {
  color: white;
  position: relative;
  height: 125px;
  width: 150px;
  margin-left: 0;
  padding-left: 0;
}
